# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution
dist/
build/
*.egg-info/
*.deb
*.rpm

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
nohup.out

# Local config
.env
go-daemon/bin/
